* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(../img/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-color: rgba(221, 231, 238, 0.507);
    text-align: center;
}

.register {
    padding-top: 100px;
    padding-bottom: 100px;
    width: 800px;
    background-color: rgba(221, 231, 238, 0.507);
    margin-top: 20vh;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 20px;
}

span {
    display: inline-block;
    width: 100px;
}

.input_alert {
    text-align: left;
    color: red;
    font-size: 12px;
}

.input_prompt {
    text-align: right;
    font-size: 15px;
}

input {
    width: 400px;
    height: 35px;
    padding: 2px;
    margin: 2px;
    font-size: 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

input:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6)
}

.register_input {
    margin-top: 5px;
    height: 50px;
}

#password_id {
    width: 250px;
}

#get_id {
    width: 140px;
}

#checkbox {
    width: 10px;
    height: 10px;
    border-radius: 5px;
}

#read {
    margin-top: 20px;
    margin-right: 240px;
}

.button {
    height: 45px;
    width: 400px;
    background: #5b71f1;
    margin-top: 10px;
    border-radius: 5px;
}

a {
    display: block;
    text-decoration: none;
    color: white;
    font-family: "黑体";
    font-size: 18px;
}

.logo img {
    width: 40px;
    height: 40px;
    margin-bottom: 20px;
}


/* 登录注册跳转 */

#href_register_login {
    text-align: center;
    width: 200px;
}

#href_register_login a {
    width: 200px;
    margin-top: 18px;
    font-size: 15px;
}

#href_register_login a:hover {
    color: aqua;
    text-decoration: none;
}